<body>
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <h1>Feedback for today:</h1>

      <p style="margin: 0;">feedback:</p>
      <input type="text" formControlName="ratingValue" name="name" placeholder="" />

      <button class="emoji-button" type="button" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😇</button>

      <emoji-mart *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
        title="Choose your emoji">
      </emoji-mart>

      <p style="margin: 0;">Description:</p>
      <textarea formControlName="description" style="min-height: 200px;"></textarea>

      <button class="btn btn-info">submit</button>

    </form>
  </div>
</body>