html, body{
    height: 100%;
    background-color: #ecedea;
}

.navbar-nav > a {
    color: rgb(221, 206, 206);
    
}

.navbar-nav{
    height: 50px;
}

.navbar-nav > a:link{
    color: rgb(221, 206, 206);
}

