<body>

    <div fxLayout="row" fxLayoutAlign="center center">

        <div style="border: solid 3px; padding: 3px; margin: 5%;" *ngIf="!tableExist">
            <h1>Select a default bord, or create a new bord!</h1>
        </div>

        <div style="border: solid 3px; padding: 3px; margin: 5%;" *ngIf="!ratingsExist">
            <h1>Bord have not content!</h1>
        </div>

    </div>


    <div *ngIf="tableExist && ratingsExist ">
        <div *ngFor="let ratingDate of sortedRatingDate" class="wrapper1">

            <div class="wrapper">
                <div class="ratings-container">

                    <div *ngFor="let rating of ratingGroupedByDate[ratingDate]" class="rate-container">
                        <div class="name">
                            <h6>{{ userNamesByEmail.value[rating.userForeignKey!] }}</h6>
                        </div>
                        <div class="rate">
                            <div class="rating-value">
                                <h2>{{rating.ratingValue}}</h2>
                            </div>
                            <div class="rating-text">
                                <p>
                                    {{rating.description}}
                                </p>
                            </div>
                        </div>
                        <div class="time">
                            <h6>{{  this.getHour(rating.creationDate)}}</h6>
                        </div>
                    </div>

                    <div class="date-container">
                        <div>
                            <h5>{{ this.getDay(ratingDate)}}</h5>
                        </div>
                    </div>
                    <hr>


                </div>




            </div>


        </div>
    </div>

</body>